<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Perfect Pizza</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div>
    <div class="header">
      <h1 style="border:ridge #fff; width: 100%; text-align:center">Pizza Place</h1>
    </div>

      <div class="cart">
      <h3>Shopping Cart</h3>
      <img src="shopping-cart.png" alt="">

      <br>
      <br>
      <div class="small-p">
        <strong>Small &nbsp&nbsp&nbsp&nbsp</strong>
        <form action="/small-" method="POST">
          <button type="submit" class="minus">-</button>
        </form>
        <form action="/smallplus" method="POST">
          <button type="submit" class="plus">+</button>
        </form>
        <span class="smallTotalPrice">{{smallprice}}</span>
      </div>


      <div class="medium-p">
        <strong>Medium</strong>
        <form action="/medium-" method="POST">
          <button type="submit" class="minus">-</button>
        </form>
        <form action="/mediumplus" method="POST">
          <button type="submit" class="plus">+</button>
        </form>
        <span class="mediumTotalPrice">{{mediumprice}}</span>
      </div>

      <div class="large-p">
        <strong>Large &nbsp&nbsp&nbsp&nbsp</strong>
        <form action="/large-" method="POST">
          <button type="submit" class="minus">-</button>
        </form>
        <form action="/largeplus" method="POST">
          <button type="submit" class="plus">+</button>
        </form>
        <span class="largeTotalPrice">{{largeprice}}</span>
      </div>


      <form action="">
        <strong>Total price</strong></td>
        <span class="totalPrice">{{total}}</span>
      </form>

      <form action="/orders" method="POST">
        <button name="order" value="order" class="OrderBtn" style="width: 100px;border-radius:8px; padding:20px" type="submit">Order</button>
      </form>
    </div>

    <div class="pizzas">

      <div class="pizza large">
        <div class="info">
          <img src="pizza.png" alt="">
          <h2>Large Pizza</h2>
          <strong>R87.99</strong>
          <div>
            large margeritha pizza with 3 toppings max.
            3 meat toppings max.
            3 or less other toppings.
          </div>
        </div>
        <form action="/buy-large" method="POST">
          <div class="orderBox">
            <button name="largeP" value="87.99" class="btn orderLargePizza" type="submit"
              style="margin-left: auto">Order large pizza</button>
          </div>
        </form>
      </div>

      <div class="pizza medium">
        <div class="info">
          <img src="pizza.png" alt="">
          <h2>Medium Pizza</h2>
          <strong>R55.99</strong>

          <div>
            medium margeritha pizza with 3 toppings max.
            2 or less meat topping.
            3 or less other toppings.
          </div>
        </div>
        <form action="/buy-medium" method="POST">
          <div class="orderBox">
            <button name="mediumP" value="55.99" class="btn orderMediumPizza" type="submit"
              style="margin-left: auto">Order medium pizza</button>
          </div>
        </form>

      </div>

      <div class="pizza small">
        <div class="info">
          <img src="pizza.png" alt="">
          <h2>Small Pizza</h2>
          <strong>R31.99</strong>
          <i>
            <ul>
              <li>small pizza with 3 toppings</li>
              <li>1 meat topping.</li>
              <li>3 or less other toppings.</li>
            </ul>
          </i>
        </div>
        <div class="orderBox">
          <form action="/buy-small" method="POST">
            <button nameP value="31.99" class="btn orderSmallPizza" type="submit" style="margin-left: auto">Order small
              pizza</button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="contact">

      </div>

    </div>
  </div>
</body>
<script src="order-pizza.js"></script>
<script src="pizza.js"></script>

<hr>


<div>

  <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
      href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>


</div>


</html>

</html>